<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件列表-点击下载</title>
</head>
<body>
<div>
    <ul>
        <li th:each="file : ${fileList}">
            <div>
                <a th:href="@{/download/file/{tempName}(tempName=${file.tempName})}"
                   target="_blank"
                   th:text="${file.fileName}"></a>
            </div>
        </li>
    </ul>
    <a th:href="@{/file/list?pageNum={pageNum}(pageNum=${pageNum} - 1)}">上一页</a>
    <span th:text="'第' + ${pageNum} + '页'"></span>
    <a th:href="@{/file/list(pageNum=${pageNum} + 1)}">下一页</a>
</div>
</body>
</html>